### Задание 1
- Создание объект Series из словаря, где ключи - имена городов, а значения - населения этих городов. Выведите этот Series.
- Создайте DataFrame из двух списков одинаковой длины, преобразовав его к DataFrame и
добавив собственные названия столбцов. Посмотрите на индексы и названия столбцов.
- Используя созданный DataFrame , выведите его методами df.info(), df.shape и
df.describe()

In [2]:
import pandas as pd

population_dict = {'Москва': 12506468, 'Санкт-Петербург': 5351935, 'Новосибирск': 1620162, 'Екатеринбург': 1493749}
population_series = pd.Series(population_dict)
print("Series из словаря (население городов):")
print(population_series)

cities = ['Москва', 'Санкт-Петербург', 'Новосибирск', 'Екатеринбург']
population = [12506468, 5351935, 1620162, 1493749]
df = pd.DataFrame(list(zip(cities, population)), columns=['Город', 'Население'])

print("DataFrame:", df)
print("Индексы DataFrame:",df.index)
print("Названия столбцов DataFrame:", df.columns)
print("Информация о DataFrame (df.info()):", df.info())
print("Форма DataFrame (df.shape):", df.shape)
print("Статистические характеристики (df.describe()):", df.describe())

ModuleNotFoundError: No module named 'pandas'

### Задание 2

```python
csv_data = """Name,Score,Passed
Alice,85,True
Bob,90,False
Charlie,78,True
Soul,12,False
David,100,True
Lisa,66,False
"""
```
- Сохраните приведенный выше CSV в файл data.csv . Используя pd.read_csv() , загрузите его в
DataFrame и выведите первые 3 строки.
- Создайте простой JSON-файл (например, со списком товаров и их цен). Считайте его с помощью
pd.read_json и выведите содержимое.
- Создайте SQLite базу данных и таблицу через sqlite3 , заполните её несколькими строками и
извлеките их с помощью pd.read_sql().
- Попробуйте прочитать HTML-таблицу с сайта: найдите URL с таблицей (например, какой-нибудь
список) и примените pd.read_html().

In [2]:
import pandas as pd
import sqlite3

csv_data = """Name,Score,Passed
Alice,85,True
Bob,90,False
Charlie,78,True
Soul,12,False
David,100,True
Lisa,66,False
"""
with open("data.csv", "w") as f:
    f.write(csv_data)

df_csv = pd.read_csv("data.csv")
print("Первые 3 строки из CSV:", df_csv.head(3))

json_data = """
[
    {"product": "Apple", "price": 100},
    {"product": "Pear", "price": 80},
    {"product": "Pineapple", "price": 170}
]
"""
with open("products.json", "w") as f:
    f.write(json_data)

df_json = pd.read_json("products.json")
print("Содержимое JSON файла:", df_json)

conn = sqlite3.connect(":memory:")  # В памяти
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    score INTEGER
)
""")
students = [("Alice", 85), ("Bob", 90), ("Charlie", 78)]
cursor.executemany("INSERT INTO students (name, score) VALUES (?, ?)", students)
conn.commit()

df_sql = pd.read_sql("SELECT * FROM students", conn)
print("Данные из SQLite таблицы:", df_sql)

url = "https://ru.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D0%BB%D0%B8%D0%B4%D0%B5%D1%80%D0%BE%D0%B2_%D0%BA%D0%B8%D0%BD%D0%BE%D0%BF%D1%80%D0%BE%D0%BA%D0%B0%D1%82%D0%B0_%D0%A1%D0%A8%D0%90_2025_%D0%B3%D0%BE%D0%B4%D0%B0"
html_tables = pd.read_html(url)
print(f"Количество таблиц на странице: {len(html_tables)}")
print("Первая таблица на странице:", html_tables[0].head())

### Задание 3

```python
df = pd.DataFrame({
'Name': ['Alice','Bob','Charlie','David','Eva'],
'Age': [25, 30, 35, 40, 22],
'Score': [88, 92, 85, 90, 95]
})

df2 = pd.DataFrame({
'Dept': ['HR','HR','IT','IT','HR'],
'Salary': [100, 150, 200, 250, 180]
})
```

- Отфильтруйте df из примера по условию: Age > 30 и Score >= 90.
- Создайте DataFrame с покупками (столбцы: User , Item , Quantity ), затем посчитайте общее
количество покупок по каждому User с помощью groupby().
- Отсортируйте один из ваших DataFrame по нескольким столбцам (например, сначала по
Department , потом по Salary ).
- Используя groupby() , найдите средний возраст студентов в каждом классе (придумайте данные с
классами).

In [3]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice','Bob','Charlie','David','Eva'],
    'Age': [25, 30, 35, 40, 22],
    'Score': [88, 92, 85, 90, 95]
})

df2 = pd.DataFrame({
    'Dept': ['HR','HR','IT','IT','HR'],
    'Salary': [100, 150, 200, 250, 180]
})

filtered_df = df.loc[(df['Age'] > 30) & (df['Score'] >= 90)]
print("Отфильтрованный DataFrame (Age > 30 и Score >= 90):", filtered_df)

purchases = pd.DataFrame({
    'User': ['Alice', 'Bob', 'Alice', 'Eva', 'Bob', 'David'],
    'Item': ['Book', 'Pen', 'Pencil', 'Book', 'Notebook', 'Pen'],
    'Quantity': [1, 2, 3, 1, 2, 5]
})
total_purchases = purchases.groupby('User')['Quantity'].sum()
print("Общее количество покупок по каждому User:", total_purchases)

sorted_df2 = df2.sort_values(by=['Dept', 'Salary'])
print("Отсортированный df2 по Dept, затем Salary:", sorted_df2)

students = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 22],
    'Class': ['A', 'B', 'A', 'B', 'A']
})
avg_age_per_class = students.groupby('Class')['Age'].mean()
print("Средний возраст студентов в каждом классе:", avg_age_per_class)

### Задание 4

- В вашем DataFrame найдите количество пропущенных значений в каждом столбце (используйте
df.isna().sum()).
- Удалите все строки, где присутствуют пропуски во всех столбцах одновременно.
- Создайте столбец с датами в строковом формате (например, `df['date_str'] =
['2023-01-01', ...]` ), затем преобразуйте его в datetime и извлеките из него год и месяц.
- Приведите числовой столбец с плавающей точкой к целочисленному типу, а строковый столбец с
числами – к числовому типу с помощью pd.to_numeric()

In [4]:
import pandas as pd

data = {
    'A': [1, 2, None, 4],
    'B': [4, 5, 6, None],
    'C': [None, 9, 10, 11]
}
df = pd.DataFrame(data)

missing_counts = df.isna().sum()
print("Пропущенные значения в каждом столбце:", missing_counts)

df_drop_all_na = df.dropna(how='all')
print("\nDataFrame после удаления строк с пропусками во всех столбцах:", df_drop_all_na)

df['date_str'] = ['2023-01-01', '2023-02-15', '2023-03-10', '2023-04-20']
df['date_dt'] = pd.to_datetime(df['date_str'])
df['year'] = df['date_dt'].dt.year
df['month'] = df['date_dt'].dt.month
print("\nDataFrame с датами и выделенными годом и месяцем:", df)

df['A_int'] = df['A'].fillna(0).astype(int)

df['B_num'] = pd.to_numeric(df['B'], errors='coerce')

print("\nDataFrame с преобразованными типами:")
print(df[['A', 'A_int', 'B', 'B_num']])